apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-qdrant
  namespace: prod
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 15Gi
  storageClassName: ""
  volumeName: pv-qdrant
