apiVersion: v1
kind: Service
metadata:
  name: qdrant
  namespace: prod
  labels:
    app: qdrant
    tier: infra
spec:
  selector:
    app: qdrant
  ports:
    - name: http
      port: 6333
      targetPort: 6333
      protocol: TCP
    - name: grpc
      port: 6334
      targetPort: 6334
      protocol: TCP
